body {
  background-color: #272727;
  padding: 10px;
}

/*--------------------------------Background-------------------------------------------*/

.background {
  background: url(/assets/images/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  z-index: 2;
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0.2;
}

.video-background video {
  height: 100%;
}
/*------------------------------background---------------------------------------------*/

/*-------------------------------------Terminal----------------------------------------*/

.ter {
  margin-top: 90px;
  z-index: 3;
  position: relative;
}

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  margin-top: 90px;
  width: 550px;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: 550px;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 300px;
}
span,
p {
  color: #fff;
  font-weight: bold;
}

/*------------------------------------terminal-----------------------------------------*/

/*------------------------------------Portfolio----------------------------------------*/

.portfolio {
  background: #0b29327c;
  display: none;
  position: absolute;
  min-height: 97vh;
  width: 98.5vw;
  z-index: 3;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.portfolio::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.elem {
  position: absolute;
  top: 0;
  font-size: 14px;
  min-height: 200px;
  width: 300px;
  background: #0b2932fc;
  opacity: 0.95;
  color: white;
  line-height: 60px;
  box-shadow: 0 0 30px #000;
}

.elem h2 {
  font-size: 14px;
}

#header {
  display: grid;
  position: relative;
  color: #62adb0;
  padding: 0px 4px 4px 5px;
  grid-template-columns: 95% 5%;
  cursor: move;
  border-bottom: 1px solid #141616;
}

#div1,
#staticDiv1 {
  min-height: 150px;
  width: 275px;
  left: 215px;
  top: 47px;
  z-index: 10;
}

#Picture {
  height: 250px;
  width: 275px;
  padding: 0px 2px 0px 2px;
  /* border-radius: 15px 15px 15px 15px; */
}

#Picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}
table tr {
  height: 14px;
  width: 100%;
}

table td,
th {
  border: 1px solid #62adb0;
  padding: 5px;
  line-height: 1.2;
}

a {
  color: orange;
  text-decoration: none;
  font-size: 14px;
  padding: 2px;
}

a:hover {
  color: white;
}

#div2,
#staticDiv2 {
  min-height: 150px;
  width: 200px;
  left: 1026px;
  top: 32px;
  z-index: 8;
}

#div3,
#staticDiv3 {
  min-height: 150px;
  width: 200px;
  left: 414px;
  top: 407px;
  z-index: 9;
}

#div4,
#staticDiv4 {
  min-height: 500px;
  width: 600px;
  left: 503px;
  top: 55px;
  z-index: 4;
}
#div4 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#div5,
#staticDiv5 {
  min-height: 200px;
  width: 600px;
  left: 810px;
  top: 244px;
  background-color: #000;
  z-index: 5;
}

#div5 #header {
  background-color: #0b2932;
}

#staticDiv5 {
  position: relative;
}

#div6,
#staticDiv6 {
  min-height: 200px;
  width: 600px;
  left: 438px;
  top: 13px;
  z-index: 9;
}

#div6 .main {
  width: 40%;
}

#div7,
#staticDiv7 {
  height: 210px;
  width: 400px;
  left: 734px;
  top: 427px;
  z-index: 6;
}

#div8,
#staticDiv8 {
  min-height: 320px;
  width: 375px;
  left: 110px;
  top: 92px;
  z-index: 5;
}
#div8 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* -------------------------------------- Portfolio Map Beacon Div4 --------------------------------------- */
.beacon {
  position: absolute;
  top: 72%;
  left: 21%;
  background: orange;
  height: 1em;
  width: 1em;
  border-radius: 105%;
  -webkit-animation: grow 0.4s 1 linear;
  animation: grow 0.4s 1 linear;
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.beacon:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0;
  top: 0;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px orange;
  -webkit-animation: active 2s infinite linear;
  animation: active 2s infinite linear;
}
#beacon2 {
  position: absolute;
  top: 27%;
  left: 31%;
}
@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0.1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes active {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(2.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes active {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*------------------------------------Portfolio Receiving data Div5----------------------------------------*/

.audio-feed {
  display: flex;
  gap: 4px;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}

.bar {
  width: 6px;
  height: 30px;
  background-color: rgb(97, 172, 174);
  transition: height 0.2s ease-in-out;
}

#bar2 {
  background-color: rgb(41, 69, 70);
}

/*------------------------------------Portfolio Server log div 7----------------------------------------*/
.log-content {
  font-size: 14px;
  height: 200px; /* Fixed height */
  overflow-y: hidden;
  position: relative;
}

.log-line {
  height: 14px;
  margin: 8px 0;
  opacity: 1;
  transition: opacity 0.5s ease;
}
